<h1>Home Page</h1>

<% if @user %>
    <p>Logged in as: <%= @user.email %></p>
    <%= button_to "Logout", logout_path, method: :delete, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>